*{
    margin: 0;
    padding: 0;
}
ul{
   background-color: brown;
   
   list-style: none;
   display: flex;
}
li{
    padding: 15px;
    font-size: x-large;

}
a{
    text-decoration: none;
    color: black;
}